<div id=vl-content ng-cloak>
  <div id=vl-content-header-shadow ng-class="{'vl-content-header-hidden':selectedUserHasVisibleVideoPanel()}"></div>
  <div id=vl-content-header ng-class="{'vl-content-header-hidden':selectedUserHasVisibleVideoPanel()}">
    <div class=vl-flex-shim>
      <div class="vl-avatar vl-medium">
        <img ng-src="{{selectedUser.getThumbnailUrl()}}" alt="" />
      </div>
      <div class=vl-tile-content>
        <span class=vl-content-heading>{{selectedUser.getDisplayName()}}</span>
        <a href="javascript: void(0)" class=vl-add-fav></a>
      </div>

      <div class=vl-call-buttons vl-show="showCallButtons()">
        <a class="vl-button vl-left vl-green icon-videocam" ng-click="startVideoCall()">Video Call</a><a class="vl-button vl-right vl-green icon-down-open" vl-menu-toggle="#vl-start-call-menu"></a>
        <ul id=vl-start-call-menu class=vl-menu>
          <li><a href="javascript: void(0)" class="vl-menu-item icon-videocam" ng-click="startVideoCall()">Video Call</a></li>
          <li><a href="javascript: void(0)" class="vl-menu-item icon-videocam" vl-show="supportsHd()" ng-click="startHdVideoCall()">Video Call (HD)</a></li>
          <li><a href="javascript: void(0)" class="vl-menu-item icon-phone" ng-click="startAudioCall()">Voice Call</a></li>
        </ul>
      </div>

      <div class=vl-call-buttons>
        <a class="vl-button icon-videocam" vl-show="showDownloadButton()" href="https://google.com/chrome" target=_blank>Download Chrome to Make Calls</a>
      </div>
      <div class=vl-call-buttons vl-show="selectedUserHasActiveMediaSession()">
        <a class="vl-button icon-mic" vl-show="!isMuted()" ng-click="muteCall()">Mute</a>
        <a class="vl-button vl-red icon-mic" vl-show="isMuted()" ng-click="unmuteCall()">Unmute</a>
        <a class="vl-button icon-resize-full" ng-click="toggleFullscreen()">Fullscreen</a>
        <a href="javascript: void(0)" class="vl-button vl-red icon-endcall" ng-click="endCall()">End Call</a>
      </div>
    </div>
  </div>

  <div id=vl-content-body-shadow class=vl-chat-body ng-cloak></div>
  <div class="vl-content-body vl-chat-body vl-scroll">
    <ul>
      <li class=vl-content-item ng-repeat="msg in getMessagesFromUser(selectedUser)" ng-class="{self:isFromSelf(msg), 'message-in':!isFromSelf(msg)}">
        <div class="vl-avatar vl-medium">
          <img ng-src="{{msg.getSender().getThumbnailUrl()}}" alt="" />
        </div>
        <div class=vl-event-group-content>
          <p class=vl-event-src-name>{{msg.getSender().getDisplayName()}}</p>
          <div class=vl-event>
            <p class=vl-event-content ng-bind-html-unsafe="msg.getBody(true)"></p>
            <div class=vl-event-time>{{msg.getCreationTime() | dateFilter}}</div>
          </div>
        </div>
      </li>
    </ul>
    <div class=vl-content-typing-wrapper>
      <div class=vl-content-typing-item ng-class=message-in vl-show="isTyping()">
        <div>{{selectedUser.getDisplayName()}} is typing...</div>
      </div>
    </div>
  </div>
  <div class=vl-content-footer></div>
</div>