<div id=vl-content ng-cloak>
  <div class=vl-people-search-header>
    <form class=vl-people-search-ctrl ng-submit="search()">
      <input class=vl-people-textarea id=vl-primary-text ng-model=searchValue ng-change="onChange()" autofocus/>
      <input type=submit class="vl-textarea-submit vl-button" value=Search>
    </form>
  </div>
  <div class="vl-content-body vl-people-search-body vl-scroll">

    <div class=vl-people-search-status vl-show=searchResults>
      <span vl-show="!!filteredContacts.length || !!searchContacts.length"> {{filteredContacts.length + searchContacts.length}} Matches </span>
      <span vl-show="!filteredContacts.length && !searchContacts.length"> No matches found </span>
    </div>

    <ul>
      <li class=vl-contact-item ng-repeat="user in filteredContacts" ng-click="select(user)">
        <a href="javascript: void(0)">
          <div class="vl-avatar vl-large" ng-click="select(user)"><img ng-src="{{user.getThumbnailUrl()}}" alt="" /></div>
        </a>
        <div class=vl-contact-group-content>
          <div class=vl-contact>
            <div class=vl-contact-content>
              <div class=vl-contact-name><a href="javascript: void(0)" ng-click="select(user)">{{user.getDisplayName()}}</a> ({{user.getUserName()}})</div>
              <div>{{user.getLocation()}}</div>
              <div>Status: {{user.getPresenceState()}}</div>
            </div>
            <div><a class=vl-button href="{{user.getProfileUrl()}}" target=_blank ng-click="$event.stopPropagation()">GitHub Profile</a></div>
          </div>
        </div>
      </li>
      <li class=vl-contact-item ng-repeat="user in searchContacts" ng-click="select(user)">
        <a href="javascript: void(0)">
          <div class="vl-avatar vl-large" ng-click="select(user)">
            <img ng-src="{{user.getThumbnailUrl()}}" alt="" />
          </div>
        </a>
        <div class=vl-contact-group-content>
          <div class=vl-contact>
            <div class=vl-contact-content>
              <div class=vl-contact-name><a href="javascript: void(0)" ng-click="select(user)">{{user.getDisplayName()}}</a> ({{user.getUserName()}})</div>
              <div>{{user.getLocation()}}</div>
              <div>Status: {{user.getPresenceState()}}</div>
            </div>
            <div>
              <a class=vl-button href="{{user.getProfileUrl()}}" target=_blank ng-click="$event.stopPropagation()">GitHub Profile</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div id=vl-people-search-spinner ng-show="showSearchSponner()"></div>
  </div>
</div>